@model IEnumerable<Infrastructure.User>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Header"]</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Id", "Index",
                new { colId = 1, CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Name", "Index",
                new { colId = 2, CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Username", "Index",
                new { colId = 3, CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Email", "Index",
                new { colId = 4, CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Phone", "Index",
                new { colId = 5, CurrentSort = ViewBag.CurrentSort })
            </th>
            <th>
                @Html.ActionLink("Website", "Index",
                new { colId = 6, CurrentSort = ViewBag.CurrentSort })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.website)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>*@
